@font-face {
    font-family: nb;
    src: url(./font/SuisseIntl-Light.ttf);
}

@font-face {
    font-family: aman;
    src: url(./font/Typographica-Blp5.ttf);
}

*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family: nb;
}

html, body{
height : 100%;
width : 100%;
}


.page1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.mouse{
    width: 7vw;
    height: 7vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.mouse h4{
    font-family: nb;
    font-size: 1.15vw;
    font-weight: 700;
}

.page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.page1-content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 19;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;


}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 2vw 3vw;

}

nav h3{
    font-size: 1.4vw;
    font-weight: 100px;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100px;

}
.page1-content h1{
    font-family: aman;
    font-size: 27vw;
    font-weight:100;
    line-height: 29vw;
}
.page1-content h1 span{
    font-family: aman;
}

/* PAGE 2 */

.page2{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}

.page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid rgb(173, 169, 169);
    margin-left: 20px;
}
.page2-top h3{
    margin-top: 20px;
    font-size: 1.4vw;
    font-weight: 500;
    width: 26%;
}

.page2-top h4{
    font-size: 1.7vw;
    font-weight: 500;
    margin-right: 15px;
}
.elem{
    overflow: hidden;
}
.elem h1{
    font-family: nb;
    text-align: center;
    font-size: 4.2vw;
    font-weight: 500;
}